<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929689339419-jit4u3dnsps8tuv352pc9g9l49mvllqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929689339419-jit4u3dnsps8tuv352pc9g9l49mvllqb</string>
	<key>API_KEY</key>
	<string>AIzaSyDKVt_a7q4T_Qk0ABc3C9Lxn-HAq4CA99Q</string>
	<key>GCM_SENDER_ID</key>
	<string>929689339419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alaman.hrapp</string>
	<key>PROJECT_ID</key>
	<string>alaman-2d492</string>
	<key>STORAGE_BUCKET</key>
	<string>alaman-2d492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929689339419:ios:8e32fe12e198c046001abe</string>
</dict>
</plist>